
* {
    margin: 0;
    padding: 0;
  }
  
  @font-face {
    font-family: 'wght';
    src: url('assets/fonts/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
  }
  
  form {
    padding: 50px 55px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    border-radius: center;
    width: 340px;
  }

  .input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  label {
    color : #fff;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
  }

  input, textarea {
    padding: 17px ;
    border-radius: 25px;
    margin-bottom: 20px;
    border: 2px solid #24303c;
    color: #24303c;
    outline: none;

  }

  input::placeholder, textarea::placeholder {
    color: #24303c;
  }

  .form-txt {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  .form-txt a {
    color: #24303c;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
  }

  .btn {
    font-size: 16px;
    color: #24303c ;
    border: 0;
    border-radius: 25px;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(65, 75, 211, 0.4);
    cursor: pointer;
  }

  .btn:hover {
    background-color: rgb(0, 166, 255);
    box-shadow: 0px 0px 20px rgba(53, 131, 208, 0.4);
    transition: all 0.3s ease-in-out;
  }
  article {
    width: 100%;
    max-width: 600px;
    background: #24303c;
    padding: 40px 30px;
    margin: 30px auto;
    border-radius: 12px;
    box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.3);
    font-family: 'calibri';
    color: white;
    text-align: center;
  }
  
  .container h2 {
    color: #24303c;
  }

  .container p {
    color: #24303c;

  }
  .container {
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    padding: 30px 30px;
  }
  
  
  h2 {
    color: white;
    font-size: 26px;
    margin: 20px 0 10px;
  }