{% extends "base.html" %}    
{% block title %}Shop{% endblock %}
{% block content %}

<head>
    <link rel="stylesheet" href="\static\stylesaboutus.css">
</head>
<body>
    <article>
      <div class="container">
        <h2>About us</h2>
        <p>Our project consists of developing an innovative website that serves as a gaming platform created for the community. Users will have the opportunity to upload their own games, share them with other members and download games developed by other creators. In this way, we foster a creative and collaborative space where independent developers can showcase their creations and gamers can discover new and diverse content.</p>
      </div>
      
      <h2>Contact Us</h2>  
      <p>If you have any questions or suggestions, please feel free to contact us at:</p>  
      
      <div class="input-group">
        <div class="contact">
          

          <label for="email">Email</label>
          <input type="email" id="email" name="email" placeholder="Enter your email">
          
          <label for="message">Messege</label>
          <textarea name="message" id="message" cols="30" rows="5" style="resize: none;" placeholder="Messege"></textarea>

        </div>
      </div> 
        <input class="btn" type="submit" value="Send">
        
    </article> 
</body>
</html>


{% endblock %}