{% extends "base.html" %}
{% block title %}Shop{% endblock %}
{% block content %}

<head>

    <link rel="stylesheet" href="\static\stylesgame1.css">
</head>
<body>
    <div class="container">
        <div class="game-info">
            <h1>Hollow Knight</h1>
            <div class="game-video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/UAO2urG23S4" frameborder="0" allowfullscreen></iframe>
            </div>
            <p class="price">Price: 19.99€</p>
            <button class="buy-button">Buy Now</button>
            <p class="description">Hollow Knight is a challenging and beautifully crafted action-adventure game. Explore a vast interconnected world, battle fearsome foes, and uncover ancient secrets in the kingdom of Hallownest.</p>
        </div>

    </div>
</body>
</html>


{% endblock %}