{% extends "base.html" %}    
{% block title %}Shop{% endblock %}
{% block content %}

<head>

    <link rel="stylesheet" href="\static\stylesregister.css">
</head>
<body>
<section class="form-register">
    <form action="" method="post">
        <h4>Formulario Registro</h4>
        <input type="text" name="nm" class="controls" placeholder="Enter your name"/>
        <input class="controls" type="password" name="pw" placeholder="Ingrese su Contraseña">
        <p>Estoy de acuerdo con <a href="conditions">Terminos y Condiciones</a></p>
        <p>If you already have an account created, better</p><p> <a href="login">Login</a></p>
        <button class="botons" type="submint" value="submint">Login</button>
    </form>
</section>
</body>

</body>
</html>


{% endblock %}