{% extends "base.html" %}    
{% block title %}Shop{% endblock %}
{% block content %}

<body>
    <link rel="stylesheet" href="\static\stylesshop.css">  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <section id="productos">
            <h2>Productos</h2>
            <div class="productos">
                <div class="producto">
                    <img src="\static\images\Hollowknight.png" alt="Producto 1">
                    <h3>Hollow knight</h3>
                    <p>19,99€</p>
                    <button>Buy It</button>
                </div>
                <div class="producto">
                    <img src="\static\images\Undertale.png" alt="Producto 2">
                    <h3>Undertale</h3>
                    <p>3,99€</p>
                    <button>Buy It</button>
                </div>
                <div class="producto">
                    <img src="\static\images\Terraria.png" alt="Producto 3">
                    <h3>Terraria</h3>
                    <p>8,99€</p>
                    <button>Buy It</button>
                </div>
                <div class="producto">
                    <img src="\static\images\Hollowknight.png" alt="Producto 1">
                    <h3>Hollow knight</h3>
                    <p>19,99€</p>
                    <button>Buy It</button>
                </div>
                <div class="producto">
                    <img src="\static\images\Undertale.png" alt="Producto 2">
                    <h3>Undertale</h3>
                    <p>3,99€</p>
                    <button>Buy It</button>
                </div>
                <div class="producto">
                    <img src="\static\images\Terraria.png" alt="Producto 3">
                    <h3>Terraria</h3>
                    <p>8,99€</p>
                    <button>Buy It</button>
                </div>
                <div class="producto">
                    <img src="\static\images\Hollowknight.png" alt="Producto 1">
                    <h3>Hollow knight</h3>
                    <p>19,99€</p>
                    <button>Buy It</button>
                </div>
                <div class="producto">
                    <img src="\static\images\Undertale.png" alt="Producto 2">
                    <h3>Undertale</h3>
                    <p>3,99€</p>
                    <button>Buy It</button>
                </div>
                <div class="producto">
                    <img src="\static\images\Terraria.png" alt="Producto 3">
                    <h3>Terraria</h3>
                    <p>8,99€</p>
                    <button>Buy It</button>
                </div>
                <div class="producto">
                    <img src="\static\images\Hollowknight.png" alt="Producto 1">
                    <h3>Hollow knight</h3>
                    <p>19,99€</p>
                    <button>Buy It</button>
                </div>
                <div class="producto">
                    <img src="\static\images\Undertale.png" alt="Producto 2">
                    <h3>Undertale</h3>
                    <p>3,99€</p>
                    <button>Buy It</button>
                </div>
                <div class="producto">
                    <img src="\static\images\Terraria.png" alt="Producto 3">
                    <h3>Terraria</h3>
                    <p>8,99€</p>
                    <button>Buy It</button>
                </div>
            </div>
        </section>

        <section id="ofertas">
            <h2>Ofertas</h2>
            <p>¡No te pierdas nuestras ofertas exclusivas por tiempo limitado!</p>
        </section>  
    </body>
    {% endblock %}
  </html>